<div class="container">
  <h1 class="item">
    <mat-label>Search Heights of NBA players</mat-label>
  </h1>
  <app-search-bar
    class="item"
    (searchPlayers)="searchPlayer($event)">
  </app-search-bar>
  <table
    *ngIf="players.length > 0"
    mat-table
    [dataSource]="dataSource"
    class="item mat-elevation-z8">

    <ng-container matColumnDef="player1">
      <th mat-header-cell *matHeaderCellDef> Player 1</th>
      <td mat-cell *matCellDef="let element"> {{element.player1?.first_name}} {{element.player1?.last_name}}</td>
    </ng-container>

    <ng-container matColumnDef="player2">
      <th mat-header-cell *matHeaderCellDef> Player 2 </th>
      <td mat-cell *matCellDef="let element"> {{element.player2?.first_name}} {{element.player2?.last_name}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-label
    class="item"
    *ngIf="players.length == 0">
    No matches found
  </mat-label>
</div>

